.icon {
    font-size: 35px;
    margin-top: 7px;
}

.metric .icon i {
    font-size: 35px;
    margin-top: 7px;
}

.fa {
    font-size: 35px;
    margin-top: 7px;
}

.icon img {
    margin-top: 6px;
}