<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>InitSer</servlet-name>
        <servlet-class>webServlet.InitSer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitSer</servlet-name>
        <url-pattern>/InitSer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AndroidLoginSer</servlet-name>
        <servlet-class>AndroidServer.servlet.AndroidLoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AndroidLoginSer</servlet-name>
        <url-pattern>/AndroidLoginSer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TsdbQuerySer</servlet-name>
        <servlet-class>webServlet.TsdbQuerySer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TsdbQuerySer</servlet-name>
        <url-pattern>/TsdbQuerySer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TemSer</servlet-name>
        <servlet-class>webServlet.TemSer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TemSer</servlet-name>
        <url-pattern>/TemSer</url-pattern>
    </servlet-mapping>
</web-app>